.footer{
    & .footer__social__links {
      padding-top: 75px;
      padding-bottom: 55px;
      @include mmd{
        padding-top: 40px;
        padding-bottom: 30px;
      }
      @include sm{
        padding-top: 20px;
        padding-bottom: 15px;
      }
      & li {
        display: inline-block;
        & a {
          border-radius: 5px;
          border: 1px solid rgba(255, 255, 255, 0.10);
          background: rgba(255, 255, 255, 0.10);
          backdrop-filter: blur(10px);
          padding: 10px 20px;
          color: $white;
          font-family: Poppins;
          @include font-16;
          display: block;
          margin: 8px;
          
        }
      }
    }
    & figure{
      & img{
        border-radius: 12px;
      }
    }
  }

.footer__social__links li:hover a {
    background: $white;
    color: $black;
}