.heading {
    padding: 23px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    @include mmd{
       padding-top: 85px;
    }
    & .navbar-brand{
        color: $color__3;
    }
    & .header-right-area {
        & ul{
            & li{
                & a{
                    border-radius: 5px;
                    border: 1px solid rgba(255, 255, 255, 0.10);
                    background: rgba(255, 255, 255, 0.10);
                    backdrop-filter: blur(10px);
                    display: block;
                    color: #FFF;
                    font-size: 16px;
                    font-weight: 400;
                    padding: 10px 20px;
                    margin-left: 16px;
                    margin-bottom: 16px;
                    @include mmd{
                    padding: 5px 12px;
                    }
                }
            }
        }
        @include mmd{
            margin: 0 auto;
            text-align: center;
        }
    }
}

.header-social-links li:hover a {
    background: #fff !important;
    color: #000 !important;
}
