.banner{
  position: relative;
    & .video-bg{
        width: 100%;
        height: 100vh;
        object-fit: cover;

    }
    & .controls {
      position: absolute;
      top: 30px;
      left: 30px;
      display: flex;
      gap: 10px;
      z-index: 99;
      &button {
        padding: 10px;
        cursor: pointer;
      }
      @include mmd{
        left: 50%;
        transform: translateX(-50%);
      }
    }
    & .banner__marquee {
      position: absolute;
      bottom: 0;
      left: 0;
      border-radius: 8px;
      background: rgba(255, 255, 255, 0.10);
      padding: 29px 0;
      & .rfm-child{
        padding:0 46px;
        & figure{
          max-width: 69px;
        }
      }
    }
}
@media(max-width:992px){
  .banner .banner__marquee .rfm-child {
    padding: 0 20px;
}
.banner .banner__marquee .rfm-child figure{
  max-width: 50px;
}
}
.soundOneOff, .videoOneOff{
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(10px);
    display: inline-block;
    padding:10px 20px;
    color: $white;
    min-width: 60px;
}

.marquee__rap{
  padding: 29px 0;
  & .rfm-child{
    padding:0 46px;
    & figure{
      max-width: 69px;
      @include mmd{
        max-width: 50px;
      }
    }
    
    @include mmd{
      padding:0px 20px
    }
  }
  @include mmd{
    padding:20px 0
  }
}

.about__area{
  position: relative;
  z-index: 1;
  padding-top: 110px;
  padding-bottom: 60px;
  @include mmd{
    padding-top: 70px;
    padding-bottom: 0px;
  }
  @include sm{
    padding-top: 30px;
  }
  &::after{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/about-shap.png');
    z-index: -1;
    background-repeat: no-repeat;
    background-position:top left;
    background-size: contain;
  }
  &::before{
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    border-radius: 519.721px;
    background: linear-gradient(178deg, #745DFF 21.91%, #60E4E4 98.08%);
    filter: blur(507px);
    width: 519.721px;
    height: 519.721px;
    z-index: -1;
    transform:translateY(-50%) ;
  }
  & .chapter__content__inner{
    padding-top: 48px;
    @include mmd{
      padding-top: 0;
    }
  }
  & .section__title {
    max-width: 586px;
  }
  & .about__content_attr{
    margin-top: 30px;
    margin-bottom: 32px;
    & a{
      display: block;
      margin-bottom: 16px;
      @include font-20;
      color: $color__5;
    }
  }
  & .chapter__content{
    padding-top: 48px;
    max-width: 490px;
    @include mmd{
      padding-bottom: 30px;
    }
    @include sm{
      padding-top: 30px;
    }
  }
  & .about__right__img{
    & img {
      border-radius: 15px;
    }
  }
}
.about__content_attr a:hover {
  opacity: .5;
  background: none;
}

.chapter__content h5, .chapter__content__inner h5{
  color: $color__5;
  @include font-20;
  margin-bottom: 10px;
}
.chapter__content__inner h5{
  @include mmd{
    padding-top: 30px;
  }
}
.gallery__area img{
  border-radius: 12px;
  @include mmd{
    margin-top: 30px;
  }
}


